@font-face {
  font-family: "Aptos";
  src: url(/aptos-font/aptos.ttf);
}
@font-face {
  font-family: "Aptos-bold";
  src: url(/aptos-font/aptos-bold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Aptos", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
}

.content {
  margin-left: 290px;
  padding: 20px;
  flex: 1;
  min-height: 100vh;
  padding-top: 90px;
  background-color: var(--secondary);
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 15px;
}

:root {
  --primary: #4c5967;
  --primaryHover: #5f6f81;
  --secondary: #ecf0f1;
}
