.code-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 20px auto;
  background-color: #fff;
  width: 100%;
}

.code-card-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.code-card-content {
  padding: 16px;
}

.code-card-steps {
  margin: 16px 0;
  padding-left: 20px;
}

.code-card-steps li {
  margin-bottom: 8px;
  line-height: 1.5;
}

.code-card-code {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 16px;
  overflow-x: auto;
}

.code-card-code h3 {
  margin-top: 0;
}

pre {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  line-height: 1.5;
  white-space: pre-wrap;
}
.card-cart-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 30px;
  background-color: var(--primary);
  color: #fff;
  padding: 12px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid var(--primary);
}

.card-cart-icon:hover {
  background-color: var(--secondary);
  color: var(--primary);
  transition:
    color 0.3s,
    background-color 0.8s;
}

.bookmarked-icon {
  transition: background-color 0.3s ease;
}

.bookmarked-icon:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.addtocart-card {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
  margin: 20px 0px;
}
.addtocart-card > button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 50px;
  border: 1px solid var(--primary);
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  font-weight: 600;
  justify-content: center;
  font-size: 16px;
  background-color: transparent;
  color: var(--primary);
}
.addtocart-card > button:hover {
  background-color: var(--primary);
  color: #fff;
}

@media (max-width: 768px) {
  .code-card-image {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  .card-cart-icon {
    top: 5px;
    right: 5px;
    padding: 3px 6px;
    border-radius: 50%;
  }
  .card-cart-icon > svg {
    width: 18px;
  }
}
