.headerContainer {
  width: 100%;
  height: 70px;
  background-color: #fff;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  cursor: pointer;
}

.logoImage {
  width: 250px;
  height: auto;
}
.navLinks {
  display: flex;
  align-items: center;
}

.navIcons {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.1);
}

.authButton,
.myAccountBtn,
.myBookmarkBtn,
.getInTouchBtn {
  background-color: var(--primary);
  border: none;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--primary);
  transition:
    color 0.3s,
    background-color 0.8s;
  padding: 10px 20px;
  color: white;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.myBookmarkBtn,
.myAccountBtn,
.getInTouchBtn,
.authButton {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.authButton:hover,
.myAccountBtn:hover,
.myBookmarkBtn:hover,
.getInTouchBtn:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: var(--secondary);
}

.menuIcon {
  display: none;
}

.mobileViewOptions {
  display: none;
}

@media (max-width: 768px) {
  .headerContainer {
    width: 100%;
    height: 50px;
    background-color: #fff;
    padding: 10px 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .mobileViewOptions {
    display: block;
    display: flex;
    align-items: center;
  }

  .menuIcon {
    display: block;
  }

  .navLinks {
    display: none;
  }
  .logo {
    margin-top: 5px;
  }
  .logoImage {
    width: 150px;
  }
  .authButton {
    padding: 7px;
    font-size: 13px;
    margin-right: 0;
  }
  .accountDropdown {
    position: absolute;
    right: 5px;
    top: 50px;
    background-color: var(--primary);
    padding: 10px;
    border-radius: 8px;
  }
  .accountDropdown > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
  }
  .accountDropdown > ul > li {
    color: white;
    padding: 5px 10px;
  }
}
