.headerContainer {
  width: 100%;
  height: 70px;
  background-color: #fff;
  padding: 10px 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  cursor: pointer;
}

.logoImage {
  width: 250px;
  height: auto;
}
.searchContainer {
  width: 500px;
  display: flex;
  align-items: center;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.15) 0px 0px 0px 1px;
  border-radius: 8px;
  background-color: white;
}
.searchContainer > input {
  flex: 1;
  padding: 10px 0;
  border: none;
  padding-left: 15px;
  border-radius: 6px;
  background-color: transparent;
  outline: none;
  margin: auto;
}

.searchContainer > input::placeholder {
  color: grey;
  font-size: 16px;
  font-weight: lighter;
}

.searchContainer > input::placeholder {
  color: grey;
  font-size: 16px;
  font-weight: lighter;
}
.searchContainer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--primary);
  border-radius: 6px;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  cursor: pointer;
  color: white;
  border: 1px solid var(--primary);
}
.searchContainer > div:hover {
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 6px;
  border: 1px solid var(--primary);
  transition:
    color 0.3s,
    background-color 0.8s;
}
.navLinks {
  display: flex;
  align-items: center;
}

.navIcons {
  display: flex;
  align-items: center;
}

.icon {
  cursor: pointer;
  transition: transform 0.3s;
}

.icon:hover {
  transform: scale(1.1);
}

.authButton,
.myAccountBtn,
.myBookmarkBtn,
.getInTouchBtn {
  background-color: var(--primary);
  border: none;
  font-size: 1rem;
  color: #333;
  cursor: pointer;
  border-radius: 6px;
  outline: none;
  border: 1px solid var(--primary);
  transition:
    color 0.3s,
    background-color 0.8s;
  padding: 10px 20px;
  color: white;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.myBookmarkBtn,
.myAccountBtn,
.getInTouchBtn {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.authButton:hover,
.myAccountBtn:hover,
.myBookmarkBtn:hover,
.getInTouchBtn:hover {
  color: var(--primary);
  border: 1px solid var(--primary);
  background-color: var(--secondary);
}
